.App {
  text-align: center;
}

.login-container{
  background-color: blueviolet;
  min-height: 100vh;
}

.list{
  border-radius: 20px;
}
.list:hover{
  cursor: pointer;
  background-color: blueviolet !important;
}

.user-img{
  height: 50px;
  width: 50px;
}

.edit-icon{
  width: 30px;
}

.delete-icon{
  width: 30px;
}